/* COLOR THEME: #2E1114 , #501B1D , #64485C , #83677B , #ADADAD */

body {
    background-color: #64485C;
    font-family:FiraSans-Regular;
}

.header {
    background-color: #2E1114;
    height: 400px;
    color: white;
}
.headerLogoBlock { }

.headerContactBlock { text-align: right; }

.bodyWrapper {
    width:84%;
    background-color:#FFFFFF;
    overflow:hidden;
}

.blurb {
    background-color: #ADADAD;
    margin:50px 200px;
    padding:30px;
    text-align:center;
}

.chkBoxes {
    border: solid;
    border-width:0px 1px 0px 0px;
    border-color: #64485C;
}

.price {
    color: #64485C;
}

.bodyHeader {
    padding: 5px 0px 10px 10px;
    margin: 10px 0;
    height:65px;
    background-color: #501B1D;
    color:white;
    font-size:200%;
}

.bodyContent {
    padding: 5px;
    margin: -10px 0px 0px 0px;
    background-color: #ADADAD;
}

.bdyLeft {
    padding-left:30%;
}
.bdyRight {
    padding-right:22%;
    text-align:right;
}

.tailer {
    height:15px;
}

@font-face {
    font-family: 'FiraSans-Regular';
    src: url('../Fonts/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'FiraSans-Bold';
    src: url('../Fonts/FiraSans-Bold.ttf') format('truetype');
}